/* Reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button,
[type="submit"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: black;
}
/* End Reset */

/*container*/
.background {
  width: 100vw;
}

.todo {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 2.4rem;
    color: white;
  }
}
